<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">InventoryManager</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Docs">Docs</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">La API manager de inventarios!</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Comienza a gestionar tus inventarios de una manera ágil y estrategica.</p>
                        <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">¿Porque utilizar esta API?</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">
                            Esta API esta pensada para una rapida gestión y escalabilidad de tus proyectos que utilizan items,
                            hacer CRUD de items es muy sencillo y tambien puedes hacer consultas avanzadas!
                        </p>
                        <a class="btn btn-light btn-xl" href="#services">+ Info</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">At Your Service</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Organizacion</h3>
                            <p class="text-muted mb-0">Puedes ordenar todos tus items en inventarios!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Usuarios</h3>
                            <p class="text-muted mb-0">Tus inventarios estan vinculados a tu usuario y solo tu puedes modificarlos!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Disponibilidad</h3>
                            <p class="text-muted mb-0">Puedes acceder y hacer consultas desde cualquier lugar!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Gratis</h3>
                            <p class="text-muted mb-0">Todo el servicio es completamente gratuito!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
        <!-- Call to action-->
        <section class="page-section bg-dark text-white" id="Docs">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">Revisa la documentacion!</h2>
                <a class="btn btn-light btn-xl" href="/docs">Download Now!</a>
            </div>
        </section>
        <!-- Contact-->
        
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5">
                <div class="small text-center text-muted">
                Fabricio Macri <br>
                fabriciomacri@hotmail.com <br>
                +54 011 67816524
                </div>
            </div>
        </footer>